@import "https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
$colorblk: black;
$colorred: red;
$colorwht: white;
$colordgray: darkgray;
$themcolor: #015b86;
$colorlblue: #37b2dd;

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1950px;
  margin: 0 auto;
  padding: 0;
  font-family: barlow, sans-serif;
  overflow-x: hidden;
}

.navbar {
  max-width: 1950px;
  position: fixed;
  height: 8rem;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: $themcolor;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
  .sitename {
    font-weight: 800;
    font-size: 2rem;
    color: $colorwht;
    position: absolute;
    left: 15rem;
    width: calc(40% - 15rem);
    cursor: pointer;
    & a {
      text-decoration: none;
      color: $colorwht;
      &:hover {
        color: $colorblk;
        transition: color 1s ease;
      }
    }
  }
}

.navbar.active {
  height: 6rem;
  background-color: $colorwht;
  & .sitename a {
    color: $colorblk;
  }
  & .navbarLink a {
    color: $colorblk;
    &:hover {
      color: $themcolor;
    }
  }
  & .navdropdownContainer a:hover {
    color: $colorwht;
  }
  & .navbarLink .navbarChosen {
    color: $themcolor;
  }
}

.navbarLink {
  width: calc(60% - 15rem);
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  position: absolute;
  right: 15rem;
  height: 100%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: end;
  & .navbarLinkList {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: end;
    margin: 0;
    height: 100%;
    .navLinkListCtn {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.hide {
      width: 0;
      visibility: hidden;
    }
    &.mobile {
      display: flex;
      position: absolute;
      flex-direction: column;
      align-items: flex-start;
      top: 8rem;
      height: 10rem;
      width: 100vw;
      background-color: $colorlblue;
      visibility: visible;
      transition: height 1s ease-in-out;
      .navLinkListCtn,
      .navdropdownContainer {
        height: 2.5rem;
        width: 10rem;
        margin: 0;
        padding: 0;
        .navServices {
          padding: 0;
        }
      }
      .navLinkListCtn {
        display: flex;
        justify-content: flex-start;
        a {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
  & a {
    text-decoration: none;
    color: $colorwht;
    margin: 0.5rem;
    padding: 0 0.3rem;
    &:hover,
    &:active {
      color: $colorblk;
    }
  }
  & .navbarChosen {
    color: $colorblk;
  }
  .navMobileBtn {
    background-color: $colorwht;
    color: $themcolor;
    border: 1px solid $themcolor;
    border-radius: 10px;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
    &.show {
      display: flex;
    }
    i {
      width: 1.5rem;
      height: 1.5rem;
      padding: 0.1rem;
    }
  }
}

.navdropdownContainer {
  position: relative;
  height: 100%;
  &:hover {
    background-color: $colorlblue;
  }
  .navServices {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
  }
}

.navDropdownList {
  opacity: 0;
  position: absolute;
  width: 30rem;
  height: 800px;
  padding-inline-start: 0;
  visibility: hidden;
  & li {
    display: flex;
    flex-direction: column;
    background-color: $colorlblue;
    & a {
      font-size: 1.5rem;
      padding: 0.5rem 0;
      border-bottom: 1px solid $colorwht;
    }
  }
  &.open {
    opacity: 1;
    visibility: visible;
    transition: all 1s ease-in-out;
  }
}

.homePic {
  background-image: url("https://jamieitservices.s3.ap-southeast-2.amazonaws.com/business-it-services-sydney.jpeg");
}

.aboutUsPic {
  background-image: url("https://jamieitservices.s3.ap-southeast-2.amazonaws.com/shutterstock_141093727_hero_1_1919x559_acf_cropped.jpg");
}

.contactUsPic {
  background-image: url("https://jamieitservices.s3.ap-southeast-2.amazonaws.com/Cyber-Security-Consultants-Sydney-4-scaled.jpg");
}

.consultantsPic {
  background-image: url("https://jamieitservices.s3.ap-southeast-2.amazonaws.com/shutterstock_1039039435_it_consulting_1919x559_acf_cropped.jpg");
}

.backUpSolutionsPic {
  background-image: url("https://jamieitservices.s3.ap-southeast-2.amazonaws.com/shutterstock_664638928_it_backup_1919x559_acf_cropped.jpg");
}

.managedITPic {
  background-image: url("https://jamieitservices.s3.ap-southeast-2.amazonaws.com/essential-it-header-image.webp");
}

.itProcumentPic {
  background-image: url("https://jamieitservices.s3.ap-southeast-2.amazonaws.com/shutterstock_156997538_1919x559_acf_cropped.jpg");
}

.mainContent {
  width: 100%;
  margin-top: 8rem;
}

.picContainer {
  margin: 0;
  position: relative;
  width: 100%;
  height: 37.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $colorwht;
  z-index: 0;
  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.53);
    z-index: 0;
  }
  & h1 {
    font-weight: 1000;
    color: white;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    z-index: 1;
  }
  & h2 {
    color: white;
    font-size: 2rem;
    line-height: 1.1em;
    text-align: center;
    margin-bottom: 0.5rem;
    z-index: 1;
  }
  & p {
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.1em;
    z-index: 1;
  }
}

.quoteBtn {
  background: $colorlblue;
  color: white;
  width: 20rem;
  height: 5rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  border-radius: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  z-index: 1;
  &:active,
  &:hover {
    background: #337ab7;
  }
}

.chooseReasons {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  height: 25rem;
  .chooseReason {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25rem;
    & i {
      color: $colorlblue;
      font-size: 4rem;
    }
    & h2 {
      color: $colorlblue;
      font-size: 1.5rem;
      text-align: center;
    }
    & p {
      font-family: "Poppins", Sans-serif;
      font-size: 1rem;
      font-weight: 400;
      text-align: center;
      color: $colordgray;
    }
  }
}

//article
.article {
  width: 80%;
  margin: auto;
  & h2 {
    font-size: 2rem;
    line-height: 2rem;
    -webkit-text-stroke: 1px $themcolor;
    -webkit-text-fill-color: transparent;
  }
  & p {
    font-size: 1.2rem;
  }
}

.workWithReasons {
  margin: auto;
  width: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50rem;
  background-color: #e8f1f6;
  .subTitle {
    color: $colorlblue;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .workWithReasonsQuestion {
    font-size: 2rem;
    color: $themcolor;
    // margin: 1rem 0;
  }
  .workWithReasonCtn {
    display: flex;

    justify-content: space-evenly;
    .workWithReason {
      width: 33.33%;
      padding-top: 2rem;
      margin: 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 25rem;
      & i {
        color: $colorlblue;
        font-size: 4rem;
      }
      & h2 {
        text-align: center;
        color: #015b86;
        font-size: 1.5rem;
      }
      & p {
        font-family: "Poppins", Sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
        text-align: center;
        color: $colordgray;
      }
    }
  }
}

// social media

.socialMedia {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  height: 25rem;
  .twitter,
  .youtube,
  .facebook {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  @mixin socialMediaMargin {
    margin: 1.2rem;
  }
  .twitterlogo {
    color: #5da9dd;
    @include socialMediaMargin;
  }
  .youtubelogo {
    color: #ff0000;
    @include socialMediaMargin;
  }
  .facebooklogo {
    color: #1877f2;
    @include socialMediaMargin;
  }
  .twitterFollowers,
  .youtubeFollowers,
  .facebookFollowers {
    font-size: 2.5rem;
    @include socialMediaMargin;
  }
  .twitterDes,
  .youtubeDes,
  .facebookDes {
    font-size: 1.2rem;
    @include socialMediaMargin;
  }
}

.foot {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.aboutUsInfo {
  width: 70%;
  font-size: 1.5rem;
  padding: 2rem;
  color: $colordgray;
  margin: auto;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid $colorblk;
}

// team member
.teamMembers {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  transform: none;
}

.teamMember {
  height: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid $themcolor;
  border-radius: 2rem;
  margin: 1rem;
  box-shadow: 1px 1px 3px;
  transition: transform 0.4s ease;
  cursor: pointer;
  &:hover {
    box-shadow: 10px 10px 10px;
  }
  &:nth-of-type(odd) {
    transform: translateX(400%);
  }
  &:nth-of-type(even) {
    transform: translateX(-400%);
  }
  &.show {
    transform: translateX(0);
  }
  .avatar {
    border-radius: 50%;
    border: 0.5rem solid #2a2a72;
    height: 10rem;
    width: 10rem;
    margin: 1rem;
  }
}

.teamMemberInfo {
  padding: 0 1rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & .teamMemberName {
    font-size: 2rem;
    font-weight: 400;
  }
  & .teamMemberTitle {
    font-size: 1.5rem;
    font-weight: 700;
    &::before {
      content: "Position:";
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
  & .teamMemberLinkedin,
  & .teamMemberBlog,
  & .teamMemberGithub {
    font-size: 2rem;
    color: #0a66c2;
    margin: 0.3rem;
  }
  & .teamMemberLink {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.contactUsInfo {
  width: 90%;
  margin: auto;
  display: flex;
}

@mixin contactUsColumn {
  width: 50%;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contactForm {
  @include contactUsColumn;
  & h2 {
    font-size: 1.8rem;
    color: $colordgray;
  }
  & p {
    font-size: 1.2rem;
    color: gray;
  }

  & .contactFormInput {
    width: 100%;
    font-size: 1.2rem;
    & label {
      text-transform: capitalize;
      margin-bottom: 1rem;
      &::after {
        content: "*";
        color: $colorred;
        margin-left: 0.5rem;
      }
    }

    & .formSubmit input {
      border: 0;
      background-color: $themcolor;
      color: $colorwht;
      font-weight: 400;
      border-radius: 1rem;
      cursor: pointer;
      text-transform: capitalize;
      &:hover,
      &:active {
        background-color: #02415c;
      }
    }

    & input {
      background-color: #f5f8fa;
      width: 20rem;
      height: 2rem;
      font-size: 1.2rem;
      border: none;
      &:focus {
        outline: none;
        border: 1px solid;
        border-color: rgba(82, 126, 238, 0.8);
      }
    }

    & textArea {
      border: none;
      background-color: #f5f8fa;
      width: 40rem;
      font-size: 1.2rem;
      &:focus {
        outline: none;
        border: 1px solid;
        border-color: rgba(82, 126, 238, 0.8);
      }
    }

    & fieldset {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 1rem;

      & div {
        display: flex;
        flex-direction: column;
        &:first-child {
          margin-right: 2rem;
        }
      }
    }
  }
}

.borderNone {
  border: none;
}

.companyDetails {
  @include contactUsColumn;
  & h2 {
    font-size: 1.8rem;
    color: $colordgray;
  }
  & p {
    font-size: 1.2rem;
    color: gray;
  }
  & a {
    text-decoration: none;
    color: $themcolor;
  }
}

.contactSlogan {
  height: 20rem;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    background-color: rgba(5, 90, 133, 0.86);
  }
  & h3 {
    z-index: 999;
    font-size: 2rem;
    font-family: "AvenirLTStd65Medium_5175";
    color: $colorwht;
    & span {
      color: rgba(255, 255, 1255, 0.77);
      font-family: "AvenirLTStdLight";
      font-style: italic;
    }
  }
  & .phoneBtn {
    margin: 1rem;
    z-index: 999;
    border: 0;
    background-color: #3ebee9;
    color: $colorwht;
    font-weight: 400;
    height: 5rem;
    width: 20rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover,
    &:active {
      background-color: rgba(62, 190, 233, 0.7);
    }
    & a {
      color: white;
      text-decoration: none;
    }
  }
}

.survey {
  background-color: #e8f1f6;
  width: 100%;
  height: 60rem;
  // padding: 3rem 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h2 {
    font-size: 1.8rem;
    color: $themcolor;
    text-align: center;
  }
  & h4 {
    font-size: 2rem;
    color: $colorblk;
    font-weight: 300;
    text-align: center;
  }
  .surveyQuestions {
    font-size: 1.5rem;
    margin: 0.2rem 0;
    height: 30rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.surveyQuestion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  .surveyQuestionDetail,
  .answerOption {
    margin: 0.5rem 0;
    & input {
      zoom: 1.5;
    }
  }
  &.hide {
    display: none;
  }
  & .contactForm {
    margin: 0 auto;
    width: 100%;
    & input {
      width: 100%;
    }
    & fieldset {
      width: 100%;
      & div {
        width: 50%;
        & input {
          width: 100%;
        }
        & textArea {
          height: 8rem;
          width: 200%;
        }
      }
    }
  }
}

.stepContainer {
  display: flex;
  justify-content: center;
  @mixin stepNUmber {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    transition: 1s ease-in;
  }
  .stepCurrent {
    border: 0.25rem solid $themcolor;
    @include stepNUmber();
  }
  .step {
    border: 0.25rem solid #e0e0e0;
    @include stepNUmber();
  }
  @mixin stepLine {
    width: 5rem;
    height: 0.1rem;
    margin: auto;
    transition: 1s ease-in;
  }
  .line {
    background-color: $colordgray;
    @include stepLine();
  }
  .lineLink {
    background-color: $themcolor;
    @include stepLine();
  }
}

.button_container {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  @mixin stepBtn {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    font-size: 1.2rem;
    border: none;
    color: $colorwht;
  }
  .step_button {
    background-color: $colordgray;
    cursor: not-allowed;
    @include stepBtn();
  }
  .step_button_active {
    background-color: $themcolor;
    cursor: pointer;
    @include stepBtn();
    &:active {
      transform: scale(0.98);
    }
    &:hover {
      background-color: $colorlblue;
    }
  }
}

.contentDescBlock {
  width: 80%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $colordgray;
  & h3 {
    font-size: 2rem;
    color: $colorlblue;
  }
  & h2 {
    font-size: 1.8rem;
    color: $themcolor;
  }
  .contentDescDetail {
    display: flex;
    & h4 {
      font-size: 1.5rem;
      color: $themcolor;
    }
    & p {
      font-size: 1.2rem;
      color: $colordgray;
    }
    & div {
      width: 50%;
      padding: 0 1rem;
      & ul {
        list-style: none;
        font-size: 1.2rem;
        color: #555;
      }
    }
    .contactUsBtn {
      background-color: $colorlblue;
      width: 10rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      cursor: pointer;
      & a {
        font-size: 1rem;
        text-decoration: none;
        color: $colorwht;
        text-transform: capitalize;
      }
      &:hover,
      &:active {
        background-color: $themcolor;
      }
    }
  }
}

.contentPic {
  margin: 2rem auto;
  width: 80%;
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.supportContentPic,
.managedITContentPic {
  background-image: url("https://jamieitservices.s3.ap-southeast-2.amazonaws.com/small-business-it-support-sydney.webp");
}

.consultantContentPic {
  background-image: url("https://jamieitservices.s3.ap-southeast-2.amazonaws.com/it_consulting.jpg.webp");
}

.backupContentPic {
  background-image: url("https://jamieitservices.s3.ap-southeast-2.amazonaws.com/it_backup_solutions-1024x350.jpg.webp");
}

.procurementContentPic {
  background-image: url("https://jamieitservices.s3.ap-southeast-2.amazonaws.com/it_equipment_procurement.jpg.webp");
}

@media screen and (max-width: 1650px) {
  .navbar .sitename {
    left: 10rem;
    width: calc(40% - 10rem);
  }
  .navbarLink {
    right: 10rem;
  }
  .navbarLinkList.mobile {
    right: -10rem;
  }
  .contactForm .contactFormInput input {
    width: 16rem;
  }
  .contactForm .contactFormInput textArea {
    width: 36rem;
  }
}

@media screen and (max-width: 1400px) {
  .navbar .sitename {
    left: 5rem;
    width: calc(40% - 5rem);
  }
  .navbarLink {
    right: 5rem;
  }
  .navbarLinkList.mobile {
    right: -5rem;
  }
  .contactForm .contactFormInput input {
    width: 12rem;
  }
  .contactForm .contactFormInput textArea {
    width: 30rem;
  }
  iframe {
    width: 400px;
    height: 280px;
  }
}

@media screen and (max-width: 1200px) {
  .contactForm .contactFormInput input {
    width: 10rem;
  }
  .contactForm .contactFormInput textArea {
    width: 25rem;
  }
  iframe {
    width: 350px;
    height: 250px;
  }
  .contactSlogan h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 992px) {
  .navbar .sitename {
    left: 1rem;
    width: 80%;
  }
  .navbarLink {
    right: 1rem;
  }
  .navbarLinkList.mobile {
    right: -1rem;
  }

  .contactUsInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .contactForm,
  .companyDetails {
    width: 100%;
  }
  .contactForm .contactFormInput input {
    width: 18rem;
  }
  .contactForm .contactFormInput textArea {
    width: 36rem;
  }
  iframe {
    width: 600px;
    height: 450px;
  }
  .chooseReasons {
    width: 100%;
    .chooseReason {
      & i {
        font-size: 3rem;
      }
      & h2 {
        font-size: 1rem;
      }
      & p {
        font-size: 0.8rem;
      }
    }
  }

  .survey {
    height: 50rem;
    & h2 {
      font-size: 1.2rem;
    }
    & h4 {
      font-size: 1.5rem;
    }
    .surveyQuestions {
      font-size: 1.2rem;
      margin: 0.1rem 0;
      width: 80%;
    }
  }

  .stepContainer {
    @mixin stepNUmber {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 2.5rem;
      font-size: 1rem;
    }
    .stepCurrent {
      border: 0.15rem solid $themcolor;
      @include stepNUmber();
    }
    .step {
      border: 0.15rem solid #e0e0e0;
      @include stepNUmber();
    }
    @mixin stepLine {
      width: 4rem;
    }
    .line {
      @include stepLine();
    }
    .lineLink {
      @include stepLine();
    }
  }

  .button_container {
    width: 80%;
    @mixin stepBtn {
      width: 6rem;
      height: 2.5rem;
      font-size: 1rem;
    }
    .step_button {
      @include stepBtn();
    }
    .step_button_active {
      @include stepBtn();
    }
  }

  .article {
    width: 90%;
    & h2 {
      font-size: 1.8rem;
      line-height: 1.8rem;
      -webkit-text-stroke: 0.8px $themcolor;
    }
    & p {
      font-size: 1rem;
    }
  }

  .workWithReasons {
    height: 40rem;
    .subTitle {
      font-size: 1.2rem;
    }
    .workWithReasonsQuestion {
      font-size: 1.5rem;
    }
    .workWithReasonCtn {
      .workWithReason {
        & i {
          font-size: 3rem;
        }
        & h2 {
          font-size: 1rem;
        }
        & p {
          font-size: 1rem;
        }
      }
    }
  }

  .socialMedia {
    width: 90%;
    height: 18rem;
    @mixin socialMediaMargin {
      margin: 1rem;
    }
    .twitterlogo {
      @include socialMediaMargin;
    }
    .youtubelogo {
      @include socialMediaMargin;
    }
    .facebooklogo {
      @include socialMediaMargin;
    }
    .twitterFollowers,
    .youtubeFollowers,
    .facebookFollowers {
      font-size: 2rem;
      @include socialMediaMargin;
    }
    .twitterDes,
    .youtubeDes,
    .facebookDes {
      font-size: 1rem;
      @include socialMediaMargin;
    }
  }

  .contactSlogan h3 {
    font-size: 1.2rem;
  }

  .contactSlogan .phoneBtn {
    height: 4rem;
    width: 15rem;
    font-size: 1.5rem;
  }

  .aboutUsInfo {
    width: 90%;
    font-size: 1.2rem;
    padding: 1rem;
    line-height: 1.5rem;
  }

  .teamMembers {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .teamMember {
    height: 15rem;
  }

  .teamMemberInfo {
    padding: 0 1rem;

    & .teamMemberName {
      font-size: 1.5rem;
    }
    & .teamMemberTitle {
      font-size: 1rem;
      &::before {
        font-size: 0.8rem;
      }
    }
    & .teamMemberLinkedin,
    & .teamMemberBlog,
    & .teamMemberGithub {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .contactForm .contactFormInput input {
    width: 12rem;
  }
  .contactForm .contactFormInput textArea {
    width: 30rem;
  }
  iframe {
    width: 400px;
    height: 280px;
  }

  .navbar .sitename {
    font-size: 1.5rem;
    width: 55%;
  }

  .navbarLink {
    right: 1rem;
    width: 40%;
  }

  .picContainer {
    height: 18rem;
    background-position: 100% 100%;

    & h1 {
      font-size: 2rem;
      letter-spacing: 0.1rem;
    }
    & h2 {
      font-size: 1.5rem;
      line-height: 0.8rem;
      margin-bottom: 0.2rem;
    }
    & p {
      font-size: 1rem;
      line-height: 0.8rem;
    }
  }

  .quoteBtn {
    width: 12rem;
    height: 3.5rem;
    font-size: 1rem;
  }

  .survey {
    height: 45rem;
    & h2 {
      font-size: 1rem;
    }
    & h4 {
      font-size: 1.2rem;
    }
    .surveyQuestions {
      font-size: 1rem;
    }
  }

  .stepContainer {
    @mixin stepNUmber {
      width: 2rem;
      height: 2rem;
      border-radius: 2rem;
      font-size: 0.8rem;
    }
    .stepCurrent {
      @include stepNUmber();
    }
    .step {
      @include stepNUmber();
    }
    @mixin stepLine {
      width: 3rem;
    }
    .line {
      @include stepLine();
    }
    .lineLink {
      @include stepLine();
    }
  }

  .button_container {
    @mixin stepBtn {
      width: 5rem;
      height: 2rem;
      font-size: 0.8rem;
    }
    .step_button {
      @include stepBtn();
    }
    .step_button_active {
      @include stepBtn();
    }
  }

  .article {
    & h2 {
      font-size: 1.5rem;
      line-height: 1.5rem;
      -webkit-text-stroke: 0.5px $themcolor;
    }
    & p {
      font-size: 0.8rem;
    }
  }

  .workWithReasons {
    height: 35rem;
    .subTitle {
      font-size: 1rem;
    }
    .workWithReasonsQuestion {
      font-size: 1.2rem;
    }
    .workWithReasonCtn {
      .workWithReason {
        & i {
          font-size: 2.5rem;
        }
        & h2 {
          font-size: 0.8rem;
        }
        & p {
          font-size: 0.8rem;
        }
      }
    }
  }

  .socialMedia {
    height: 18rem;
    @mixin socialMediaMargin {
      margin: 1rem;
    }
    .twitterlogo {
      @include socialMediaMargin;
    }
    .youtubelogo {
      @include socialMediaMargin;
    }
    .facebooklogo {
      @include socialMediaMargin;
    }
    .twitterFollowers,
    .youtubeFollowers,
    .facebookFollowers {
      font-size: 1.5rem;
      @include socialMediaMargin;
    }
    .twitterDes,
    .youtubeDes,
    .facebookDes {
      font-size: 0.8rem;
      @include socialMediaMargin;
    }
  }

  .contactSlogan h3 {
    font-size: 1rem;
  }

  .contactSlogan .phoneBtn {
    height: 3rem;
    width: 10rem;
    font-size: 1.2rem;
  }

  .contentDescBlock {
    width: 90%;
    margin: 1rem auto;
    & h3 {
      font-size: 1.5rem;
    }
    & h2 {
      font-size: 1rem;
    }
    .contentDescDetail {
      display: flex;
      flex-direction: column;
      & h4 {
        font-size: 1rem;
      }
      & p {
        font-size: 0.8rem;
      }
      & div {
        width: 100%;
        padding: 0rem;
        & ul {
          padding-inline-start: 0px;
          list-style: none;
          font-size: 0.8rem;
        }
      }
      .contactUsBtn {
        width: 100%;
        height: 2.5rem;
        & a {
          font-size: 0.8rem;
        }
      }
    }
  }

  .contentPic {
    margin: 1rem auto;
    width: 100%;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .foot {
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 576px) {
  .contactForm .contactFormInput input {
    width: 8rem;
  }
  .contactForm .contactFormInput textArea {
    width: 18rem;
  }
  iframe {
    width: 300px;
    height: 200px;
  }
  .navbar .sitename {
    font-size: 1.2rem;
    width: 55%;
  }

  .navbarLink {
    font-size: 1rem;
    .navDropdownList li a {
      font-size: 1rem;
    }
  }

  .picContainer {
    height: 15rem;
    background-position: 100% 100%;

    & h1 {
      font-size: 1.2rem;
      letter-spacing: 0rem;
    }
    & h2 {
      font-size: 1rem;
      line-height: 0rem;
      margin-bottom: 0rem;
    }
    & p {
      width: 90%;
      font-size: 0.8rem;
      line-height: 0.8rem;
    }
  }

  .quoteBtn {
    width: 10rem;
    height: 2.5rem;
    font-size: 0.8rem;
  }

  .chooseReasons {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    height: 40rem;
    .chooseReason {
      height: 33.33%;
    }
  }

  .survey {
    & h2 {
      font-size: 1rem;
    }
    & h4 {
      font-size: 1rem;
    }
    .surveyQuestions {
      font-size: 1rem;
    }
  }

  .stepContainer {
    @mixin stepLine {
      width: 1.5rem;
    }
    .line {
      @include stepLine();
    }
    .lineLink {
      @include stepLine();
    }
  }

  .contactForm {
    margin: 0;
    & h2 {
      font-size: 1.2rem;
    }
    & p {
      font-size: 0.8rem;
    }

    & .contactFormInput {
      font-size: 0.8rem;
      & label {
        margin-bottom: 0.5rem;
        &::after {
          margin-left: 0.2rem;
        }
      }

      & input {
        width: 20rem;
        font-size: 0.8rem;
      }

      & textArea {
        width: 20rem;
        font-size: 0.8rem;
      }

      & fieldset {
        flex-direction: column;
        margin-bottom: 0rem;
      }
    }
  }

  .companyDetails {
    margin: 0;
    & h2 {
      font-size: 1.2rem;
    }
    & p {
      font-size: 0.8rem;
    }
    & a {
      text-decoration: none;
      color: $themcolor;
    }
  }

  .article {
    & h2 {
      font-size: 1.2rem;
      line-height: 1.2rem;
      -webkit-text-stroke: 0.5px $themcolor;
    }
    & p {
      font-size: 0.8rem;
    }
  }

  .workWithReasons {
    padding: 0 1%;
    height: 55rem;
    .workWithReasonCtn {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .workWithReason {
        width: 90%;
        height: 15rem;
        margin: 0;
        padding-top: 0rem;
        justify-content: center;
      }
    }
  }

  .socialMedia {
    height: 15rem;
    @mixin socialMediaMargin {
      margin: 0.8rem;
    }
    .twitterlogo {
      @include socialMediaMargin;
    }
    .youtubelogo {
      @include socialMediaMargin;
    }
    .facebooklogo {
      @include socialMediaMargin;
    }
    .twitterFollowers,
    .youtubeFollowers,
    .facebookFollowers {
      font-size: 1rem;
      @include socialMediaMargin;
    }
    .twitterDes,
    .youtubeDes,
    .facebookDes {
      text-align: center;
      font-size: 0.8rem;
      @include socialMediaMargin;
    }
  }

  .contactSlogan {
    height: 10rem;
    flex-direction: column;
    justify-content: center;
  }

  .contactSlogan h3 {
    font-size: 0.8rem;
  }

  .contactSlogan .phoneBtn {
    height: 3rem;
    width: 8rem;
    font-size: 0.8rem;
  }

  .aboutUsInfo {
    width: 90%;
    font-size: 1rem;
    padding: 0.8rem;
    line-height: 1rem;
  }

  .teamMembers {
    width: 90%;
  }

  .teamMember {
    height: 10rem;
    margin: 0.5rem;
    .avatar {
      border: 0.2rem solid #2a2a72;
      height: 5rem;
      width: 5rem;
      margin: 0.5rem;
    }
  }

  .teamMemberInfo {
    padding: 0 0.5rem;
    & .teamMemberName {
      font-size: 1.2rem;
    }
    & .teamMemberTitle {
      font-size: 1rem;
      &::before {
        font-size: 0.8rem;
      }
    }
    & .teamMemberLinkedin,
    & .teamMemberBlog,
    & .teamMemberGithub {
      font-size: 1.2rem;
    }
  }

  .foot {
    margin-top: 1.2rem;
    font-size: 1rem;
  }
}
